<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.trait.name'}}
    <div class="d-flex">
        <label class="text-nowrap mr-2">{{localize "tinyd6.heritage.startingHealth"}}</label>
        <input name="system.startingHealth" type="text" value="{{data.system.startingHealth}}" placeholder="{{localize "tinyd6.heritage.startingHealth"}}" dType="Number"/>
        <label class="text-nowrap mx-2">{{localize "tinyd6.heritage.corruptionThreshold"}}</label>
        <input name="system.corruptionThreshold" type="text" value="{{data.system.corruptionThreshold}}" placeholder="{{localize "tinyd6.heritage.corruptionThreshold"}}" dType="Number"/>
    </div>
    <h2 class="section-header">{{localize "tinyd6.sheet.description"}}</h2>
    {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}

    <h2 class="section-header">{{localize "tinyd6.heritage.trait"}}</h2>
    {{editor traitHTML target="system.trait" button=true owner=owner editable=editable}}
</form>
