<form class="actor-sheet {{classes}} m-0" autocomplete="off">
    {{#if owner}}
        <div class="mb-3">
            {{> "systems/tinyd6/templates/partials/roll-bar.hbs" flexClass=""}}
        </div>
    {{/if}}

    <section class="character">
        <h1 class="floating-header">{{localize config.characterHeaderPath}}</h1>
        <div class="row">
            <div class="col stat-values">
                <div class="name property d-flex justify-content-between border-bottom">
                    <label><span>{{localize "tinyd6.actor.name"}}</span></label>
                    <input name="name" type="text" class="text-right" value="{{actor.name}}" placeholder="{{localize "tinyd6.actor.name"}}"/>
                </div>
                <div class="heritage property d-flex justify-content-between border-bottom" data-item-id="{{data.system.heritage._id}}">
                    <label><span>{{localize config.heritageHeaderPath}}</span></label>
                    <div class="heritage-value ml-auto">
                        <a class="item-show d-inline-block h-100">{{data.system.heritage.name}}</a>
                    </div>
                    {{#if data.system.heritage}}
                        <a class="item-control item-delete ml-2 my-auto" title="{{localize config.heritageDeleteTooltipPath}}"><i class="fas fa-times"></i></a>
                    {{/if}}
                </div>
                <div class="family-trade property d-flex justify-content-between border-bottom">
                    <label class="text-nowrap"><span>{{localize "tinyd6.actor.familyTrade"}}</span></label>
                    <input name="system.familyTrade" type="text" class="text-right" value="{{data.system.familyTrade}}" placeholder="{{localize "tinyd6.actor.familyTrade"}}"/>
                </div>
                <div class="belief property">
                    <label class="border-bottom"><span>{{localize "tinyd6.actor.belief"}}</span></label>
                    <input name="system.belief" type="text" value="{{data.system.belief}}" placeholder="{{localize "tinyd6.actor.belief"}}"/>
                </div>
            </div>
            <div class="col-3 pt-3 text-center">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="character-art img-fluid"/>
            </div>
        </div>
        <div class="stat-values">
            <div class="description property">
                <label class="border-bottom"><span>{{localize "tinyd6.actor.description"}}</span></label>
                {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>

    <section class="trauma">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <h2 class="section-header">{{localize "tinyd6.actor.wounds.header"}}</h2>
                    <span class="d-flex justify-content-end ml-auto">
                        <span class="mr-2">{{localize "tinyd6.actor.wounds.max"}}</span>
                        {{#if owner}}
                            <input name="system.wounds.max" type="text" class="mx-2" style="width: 10%;" value="{{data.system.wounds.max}}" dType="Number"/>
                        {{^}}
                            <span>{{data.system.wounds.max}}</span>
                        {{/if}}
                    </span>
                </div>
                <div class="health-meter">
                    {{#times data.system.wounds.max}}
                        <input type="checkbox" value="1" class="health-box d-inline-block" {{#if (lt . ../data.system.wounds.value)}}checked{{/if}} />
                    {{/times}}
                </div>
                {{#if owner}}
                    <p class="help">{{localize "tinyd6.actor.wounds.help"}}</p>
                {{/if}}
            </div>
            {{#if config.enableCorruption}}
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <h2 class="section-header">{{localize "tinyd6.actor.corruption.header"}}</h2>
                        <span class="d-flex justify-content-end ml-auto">
                        <span class="mr-2">{{localize "tinyd6.actor.corruption.max"}}</span>
                            {{#if owner}}
                                <input name="system.corruptionThreshold.max" type="text" class="mx-2" style="width: 10%;" value="{{data.system.corruptionThreshold.max}}" dType="Number"/>
                            {{^}}
                                <span>{{data.system.corruptionThreshold.max}}</span>
                            {{/if}}
                    </span>
                    </div>
                    <div class="corruption-meter">
                        {{#times data.system.corruptionThreshold.max}}
                            <input type="checkbox" value="1" class="corruption-box d-inline-block" {{#if (lt . ../data.system.corruptionThreshold.value)}}checked{{/if}} />
                        {{/times}}
                    </div>
                    {{#if owner}}
                        <p class="help">{{localize "tinyd6.actor.corruption.help"}}</p>
                    {{/if}}
                </div>
            {{/if}}
            {{#if (eq config.advancementMethod 'xp')}}
                <div class="col-3">
                    <section class="experience d-flex flex-column justify-content-between">
                        <h3 class="section-header">{{localize "tinyd6.actor.xp.header"}}</h3>
                        <div class="stat-values property d-flex justify-content-between border-bottom">
                            <label class="mr-2"><span>{{localize "tinyd6.actor.xp.total"}}</span></label>
                            <input name="system.xp.max" class="text-right" type="text" value="{{data.system.xp.max}}" placeholder="{{localize "tinyd6.actor.xp.total"}}" dType="Number"/>
                        </div>
                        <div class="stat-values property d-flex justify-content-between border-bottom">
                            <label class="mr-2"><span>{{localize "tinyd6.actor.xp.spent"}}</span></label>
                            <input name="system.xp.spent" class="text-right" type="text" value="{{data.system.xp.spent}}" placeholder="{{localize "tinyd6.actor.xp.spent"}}" dType="Number"/>
                        </div>
                        <div class="stat-values property d-flex justify-content-between border-bottom">
                            <label class="mr-2"><span>{{localize "tinyd6.actor.xp.remaining"}}</span></label>
                            <span class="d-block">
                                {{data.system.xp.remaining}}
                            </span>
                        </div>
                    </section>
                </div>
            {{/if}}
            {{#if (eq config.advancementMethod 'minimalist')}}
                <div class="col-3">
                    <section class="experience d-flex flex-column justify-content-between">
                        <h3 class="section-header">{{localize "tinyd6.actor.xp.progression"}}</h3>
                        <div class="d-flex">
                            {{#times data.system.advancement.max}}
                                <input type="checkbox" value="1" class="advancement-progress-box d-inline-block" {{#if (lt . ../data.system.advancement.value)}}checked{{/if}} />
                            {{/times}}
                        </div>
                    </section>
                </div>
            {{/if}}
        </div>
    </section>

    <section class="proficiencies">
        <h2 class="section-header">{{localize "tinyd6.actor.proficiencies.header"}}</h2>
        <div class="d-flex justify-content-start">
            <div class="light mr-4">
                <label>
                    <input type="checkbox" name="system.proficiencies.lightMelee" {{checked data.system.proficiencies.lightMelee}}/>
                    {{localize "tinyd6.weapon.lightMelee"}}
                </label>
            </div>
            <div class="heavy mr-4">
                <label>
                    <input type="checkbox" name="system.proficiencies.heavyMelee" {{checked data.system.proficiencies.heavyMelee}}/>
                    {{localize "tinyd6.weapon.heavyMelee"}}
                </label>
            </div>
            <div class="ranged mr-4">
                <label>
                    <input type="checkbox" name="system.proficiencies.lightRanged" {{checked data.system.proficiencies.lightRanged}}/>
                    {{localize "tinyd6.weapon.lightRanged"}}
                </label>
            </div>
            <div class="ranged mr-4">
                <label>
                    <input type="checkbox" name="system.proficiencies.heavyRanged" {{checked data.system.proficiencies.heavyRanged}}/>
                    {{localize "tinyd6.weapon.heavyRanged"}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-start mt-2">
            <label class="mr-2"><h3 class="section-header">{{localize "tinyd6.actor.proficiencies.mastered"}}</h3></label>
            <span class="border-bottom w-100">
                <input name="system.proficiencies.masteredWeapons" type="text" value="{{data.system.proficiencies.masteredWeapons}}" placeholder="{{localize "tinyd6.sheet.none"}}"/>
            </span>
        </div>
    </section>

    <section class="traits">
        <h2 class="floating-header">{{localize "tinyd6.actor.traits"}}</h2>
        <div class="floating-action">
            <a class="item-add" data-type="trait">
                <span class="fas fa-plus"></span>
            </a>
        </div>
        <div class="heritage-trait border-bottom">
            <h3>{{localize config.heritageTraitPath}}</h3>
            {{{data.system.heritage.system.trait}}}
        </div>
        <ul class="actor-items px-0">
            {{#each data.system.traits as |trait id|}}
                {{> "systems/tinyd6/templates/partials/trait-block.hbs" trait}}
            {{/each}}
        </ul>
    </section>

    <section class="inventory">
        <h2 class="floating-header">{{localize "tinyd6.actor.gear"}}</h2>
        <section class="equipment">
            <div class="row">
                <div class="col">
                    {{#each data.system.weapons as |weapon id|}}
                        <div class="equipped-weapon">
                            <div class="d-flex">
                                <h3 class="weapon-name">{{weapon.name}}</h3>
                                <label class="light ml-auto">
                                    <input type="checkbox" disabled{{#if (eq weapon.system.damageType "light")}} checked{{/if}}/>
                                    {{localize "tinyd6.weapon.lightShort"}}
                                </label>
                                <label class="heavy">
                                    <input type="checkbox" disabled{{#if (eq weapon.system.damageType "heavy")}} checked{{/if}}/>
                                    {{localize "tinyd6.weapon.heavyShort"}}
                                </label>
                                <label class="ranged">
                                    <input type="checkbox" disabled{{#if (eq weapon.system.group "melee")}} checked{{/if}}/>
                                    {{localize "tinyd6.weapon.meleeShort"}}
                                </label>
                                <label class="ranged">
                                    <input type="checkbox" disabled{{#if (eq weapon.system.group "ranged")}} checked{{/if}}/>
                                    {{localize "tinyd6.weapon.rangedShort"}}
                                </label>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="col-4 equipped-armor">
                    <span class="total-armor">{{#if config.enableDamageReduction}}{{data.system.armorTotal}}{{^}}&nbsp;{{/if}}</span>
                    {{#each data.system.armor as |armor id|}}
                        <span>{{armor.name}}</span>
                    {{/each}}
                    {{#unless data.system.armor}}<span>{{localize "tinyd6.armor.none"}}</span>{{/unless}}
                </div>
            </div>
        </section>

        <section class="owned-items">
            <div class="row">
                {{#each data.system.gear as |gearItem id|}}
                    {{> "systems/tinyd6/templates/partials/inventory-card.hbs" gearItem=gearItem tagName="div" classes="col-4" }}
                {{/each}}
            </div>
        </section>
    </section>
</form>

