<form class="actor-sheet {{cssClass}}" autocomplete="off">

    <section class="character">
        <h2 class="floating-header">{{localize "tinyd6.actor.npc"}}</h2>
        <div class="row">
            <div class="col stat-values">
                <div class="name property d-flex justify-content-between border-bottom">
                    <label><span>{{localize "tinyd6.actor.name"}}</span></label>
                    <input name="name" type="text" class="text-right" value="{{actor.name}}" placeholder="{{localize "tinyd6.actor.name"}}"/>
                </div>
                <div class="description property">
                    <label class="border-bottom"><span>{{localize "tinyd6.actor.description"}}</span></label>
                    {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
                </div>

                <section class="trauma">
                    <div class="d-flex justify-content-between">
                        <h2 class="section-header">{{localize "tinyd6.actor.wounds.header"}}</h2>
                        <span class="d-flex justify-content-end ml-auto">
                        <span class="mr-2">{{localize "tinyd6.actor.wounds.max"}}</span>
                            {{#if owner}}
                                <input name="system.wounds.max" type="text" class="mx-2" style="width: 10%;"
                                       value="{{data.system.wounds.max}}" dType="Number"/>
                            {{^}}
                                <span>{{data.system.wounds.max}}</span>
                            {{/if}}
                        </span>
                    </div>
                    <div class="health-meter">
                        {{#times data.system.wounds.max}}
                            <input type="checkbox" value="1" class="health-box d-inline-block"
                                   {{#if (lt . ../data.system.wounds.value)}}checked{{/if}} />
                        {{/times}}
                    </div>
                    {{#if owner}}
                        <p class="help">{{localize "tinyd6.actor.wounds.help"}}</p>
                    {{/if}}
                </section>

            </div>
            <div class="col-4 pt-3 text-center">
                <div>
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="character-art img-fluid"/>
                </div>
                <div class="stat-values">
                    {{#if config.enableCorruption}}
                        <div class="corruption-test property">
                            <label class="border-bottom d-flex justify-content-between">
                                <span>{{localize "tinyd6.actor.corruption.test"}}</span>
                            </label>
                            <select name="system.corruptionTest" class="w-100">
                                {{selectOptions config.corruptionTests selected=data.system.corruptionTest localize="true"}}
                            </select>
                        </div>
                    {{/if}}

                    <section class="traits property standalone">
                        <div>
                            <span class="float-right">
                                <a class="item-add" data-type="trait">
                                    <span class="fas fa-plus"></span>
                                </a>
                            </span>
                            <label class="border-bottom d-flex justify-content-between">
                                <span>{{localize "tinyd6.actor.traits"}}</span>
                            </label>
                        </div>
                        <ul class="actor-items px-0">
                            {{#each data.system.traits as |trait id|}}
                                {{> "systems/tinyd6/templates/partials/trait-block.hbs" trait}}
                            {{/each}}
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    </section>
</form>

